.header{
    background-color: #fff;
    overflow: hidden;
    border-bottom:1px solid #eee;
    height: 3rem;
    margin-bottom: 1rem;
}

.header .logo{
    line-height: 1;
    font-size: 1.4rem;
    color: #777;
    padding-left: 0.3rem;
    margin-top: .6rem;
}